.portifolio__container {
    overflow: initial;
}

.portifolio__content {
    padding: 0 1.5rem;
}

.portifolio__img {
    width: 256px;
    border-radius: .5rem;
    justify-self: center;
}

.portifolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portifolio__description {
    margin-bottom: var(--mb-0-75);
}

.portifolio__button:hover .button__icon {
    transform: translate(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-portifolio-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    top: 25%;
    left: -.3rem;
}

.swiper-button-next {
    top: 25%;
    right: -.3rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets {
    outline: none;
}

/* large devices */
@media screen and (min-width: 760px) {

    .portifolio__img {
        width: 320px;
    }

    .portifolio__content {
        align-items: center;
    }
}

/* very large devices */
@media screen and (min-width: 1024px) {
    .portifolio__content {
        column-gap: 5rem;
    }

    .swiper-portifolio-icon {
        font-size: 3.5rem;
    }

    .swiper-button-prev {
        left: -3.5rem;
    }

    .swiper-button-next {
        right: -3.5rem;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -4.5rem;
    }
}